<div class="modal-header1 text-left row mb-1">
    <h6 class="modal-title">Generar Códigos</h6>
    <button type="button" class="close mt--5 mr--2" (click)="close()">
        <i class="fa fa-times icon-modal-close"></i>
    </button>
</div>

<mat-dialog-content class="mat-typography">
    <form class="form-horizontal" [formGroup]="form" autocomplete="off">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <mat-form-field class="col-xs-12 col-sm-12 col-md-12" appearance="outline" style="border: 2px #000000;">
                        <mat-label>Cantidad</mat-label>
                        <input type="number"  matInput name="quantity" formControlName="quantity">
                        <mat-error *ngIf="(errorsForm.quantity.touched) && errorsForm.quantity.errors?.required">
                            Campo obligatorio
                        </mat-error>
                    </mat-form-field>

                   
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>

<div mat-dialog-actions align="end" class="dialog-footer">
    <button class="btn btn-fill btn-info btn-md" (click)="generateKeys()" [disabled]="!form.valid" type="button">
        Guardar 
    </button>
</div>